{% extends '_base.html' %}

{% load static%}
{% block title %} Todo List {% endblock %}



{% block content %} 
    <div id="myDIV" class="header">
        <h2 style="margin:5px">My To Do List</h2>
        <a href="{% url 'todo:task-create' %}" class="addBtn">Add</a>
    </form>
    </div>
    <table>
        
        {% for task in tasks %}
            <tr>
            <td>
                <a href="{% url 'todo:task-complate' pk=task.pk %}"><input type="checkbox"  {% if task.status%}disabled="disabled" checked {%endif%} ></a>
            </td>
            <td>
                <h2> {{task.title}}</h2>
            </td>
            <td>
                {{task.updated_date}}
            </td>
            <td>
                <a href="{% url 'todo:task-edit' pk=task.id %}">
                    Edit
                </a>
            </td>
            <td>
                <a href="{% url 'todo:task-delete' pk=task.id %}">
                    <h5>Delete</h5>
                </a>
            </td>
            </tr>
        {% endfor %}
        
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock %}

